h4{
  font-size: 100px;
  color: black;
}

body{
  /*background-color: whitesmoke;*/
  font-family: "HelveticaNeue-Light";
  background-color: #ffffff;
  background-image: url(../images/black-orchid.png);
}


/*///////// HEADER ////////*/

header{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  height: 108px;
  background: #B22222;
  color: black;
  transition: all 0.4s ease;
}

header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: indianred;
  text-align: left;
  padding-left: 20px;
}

.symb{
  font-size: 40px;
}

span.sticky {
  color: white;
  font-size: 0;
  line-height: 20px;
  height: 20px;
}

.role{
  font-size: 50px;
}

span.sticky{
  font-size: 10px;
  line-height: 20px;
  height: 20px;
}

/*////////// NAV BAR ///////////*/
nav{
  display: block;
  width: 100%;
  bottom: 0;
  height: 300px;
  padding-top: 600px;
  font-size: 30px;
}

.nav-li{
  text-decoration: none;
  display: inline-block;
  background-color: linen;
  padding: 10px;
  margin: 15px;
}

a{
    text-decoration: none !important;
    color: black;
}


/*///////// MAIN ///////////*/
.main-wrapper{
  width: 782px; 
  height: 900px;
}

/*////// PROJECT AND ABOUT ME ICON ////////*/
li.link-icon:hover {
  color: firebrick;
}

li.link-icon{
  width: 40%;
  height: 50px;
  background-color: rgba(225,225,225,0);
  display: inline-block;
  padding: 30px;
}
.icon{
  height: 100px;
  display: inline-block;
}
ul#icon-list{
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin-left: 30%;
  transition: all 0.4s ease;
}
#icon-list.sticky-icon{
  height: 100px;
  bottom: 0;
}

/*//////// FOOTER: CONTACT DETAILS CONTAINER //////////*/
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 50px;
  padding: 0 0 20px 0 ;
}

.contact:hover{
  color: crimson;
  cursor: pointer;
}

.contact{
  text-decoration: none;
  padding: 0px 5px 0px 10px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.contact-icon{
  padding: 0px 40px 5px 20px;
  margin: 0 10px 0 10px;
  display: inline-block;
}


#email{
  text-decoration: none;
  color: white;
  cursor: auto;
}

#contact-container{
  background-color: rgba(225,225,225,0.9);
  display: inline-block;
  width: auto;
  display: none;
}




/*///////// PROJECTS //////////*/
.projects{
  width: 35%;
  /*padding: 0 10px 0 10px;*/
  display: inline-block;
/*  min-height: 30%;
  max-height: 300px;*/
  /*position: relative;*/
}

.project-nav{
  font-size: 100px;
}

#project-2{
  position: relative;
  width: 100%;
  margin: 10px;
  text-align: center;

}

#project-3{
  position: relative;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.project-title{ 
  margin: 10px;
  text-align: center;
  background-color: hotpink;
  padding: 0 10px 0 10px;
  color:white;
  opacity: 0.5;
  top:0;
  left:0;
  position: absolute;
}

/*///////// ABOUT ME /////////*/


#about-me-content{
  display: none;
}

/*.container{
  background: url(../images/classroom.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 700px;
}*/
/*.content{
  position: absolute;
  display: inline-block;
  width: 80%;
  font-size: 30px;
  color: white;
  background-color: rgba(225,225,225,0.5);
  z-index: 3;
  top: 0%;
  left: 10%;
  overflow: hidden;
}*/

